<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="splitter2.Enabled" value="True" />
		<add key="splitter2.Visible" value="True" />
	</appSettings>
	<system.windows.forms jitDebugging="true" />
</configuration>